* {
    margin: 0;
    padding: 0;
}

.img-grid {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr;
    height: 80vh;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.info {
    flex-direction: column;
}

.info h1 {
    text-align: center;
}

.info p {
    width: 40%;
    margin: 2.5% 7.5% 2.5% 2.5%;

    float: right;
}

.info p:first-of-type {
    margin: 2.5% 2.5% 2.5% 7.5%;

    float: left;
}