* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid: auto 1fr / auto;
}

/*
Typography
*/
h1 {
}

p {
    font-size: 1rem;
    color: #fff;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}
/*
Header
*/
header {
    border-bottom: solid 1px black;
}

/*
Topline
*/
.topline{
    background-color: #333;
    top: 0;
    left: 0;
}

.toplinespan{
    color: #999;
}

.topline p {
    padding: 0.2rem 0;
    font-size: medium;
    text-align: center;
}

/*
Nav
*/
nav {
    position: relative;

    padding: 0.6rem 0;

    display: flex;
    justify-content: center;
}

nav h1 {
    position: absolute;
    left: 1rem;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li:not(li:last-of-type) {
    margin-right: 1rem;
}

nav a:hover{
    text-decoration: underline;
}

/*
Map
*/
.svgcontainer {
    position: relative;
}

svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 90%;
}

#SE {
    cursor: pointer;
    fill: #b3b3b3;
}

.United.States {
    cursor: pointer;
    fill: #b3b3b3;
}

.Russian.Federation {
    cursor: pointer;
    fill: #b3b3b3;
}