svg {
    width: 100%;
}

#SE {
    fill: #b3b3b3;
}

.United.States {
    fill: #b3b3b3;
}

.Russian.Federation {
    fill: #b3b3b3;
}

header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.rubrik{
    display: inline-block;
    margin-right: auto;
}

nav{
    display: inline-block;
    margin-right: auto;
}

li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #333;
    font-size: 25px;
}

a:hover{
    text-decoration: underline;
}
